* {padding:0;margin:0;}
.slider {
	width:940px;
	height:400px;
	margin:30px 0 38px 0;
}
.items {
	display:none;
}
.page_slide {
	position:absolute;
	bottom:0px;
	left:183px;
	z-index:98;
}
.page_slide ul {margin:0px 0px 0 0;}
.page_slide li {float:left; margin:0 6px 0 0px; }
.page_slide li a {height:70px; width:85px; display:block; padding:2px; }
.page_slide li.current a {
	background:#fff !important; 
}
.page_slide li:hover a {
	background:#fff; 
}
.banner {display:block; position:absolute; left:0px; top:53px; z-index:99; border: 0px solid #F00; width:650px;}
.banner p {margin-left:50px;}
.banner strong { display:block; color:#fff; text-shadow:0px 3px 10px #000000; margin-top:-34px; }
.banner strong:first-child {margin-top:0 !important;}
.banner strong+strong+strong {margin-top:-23px !important;}
.banner strong+strong+strong+strong {margin-top:-34px !important;}
.font-1 { font-size:50px; line-height:60px; letter-spacing:-3px; }
.font-2 {font-size:100px; line-height:120px; letter-spacing:-4px;}

.banner a {display:inline-block; background:#1e1e1e; border-top:#000 1px solid; font-size:36px; line-height:45px; color:#fff; padding:7px 35px 11px 35px; border-radius:5px; margin:26px 0 0 80px; letter-spacing:-2px;}
.banner a:hover {background:#174a6a; border-top:#062b42 1px solid;}