
html, body {width:100%; height:100%; padding:0; margin:0;}

body { 	 
	font: 14px/25px Arial, Helvetica, sans-serif;
	color:#999999;
	min-width:960px;
	/*background: #f4f4f4;*/
}
.main {width:940px; margin:0 auto; /*overflow:hidden;*/ position:relative; padding-top: 1px;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}

a.button {background:#f7f7f7; border-radius:3px; color:#a83715; font-size:14px; line-height:18px; padding:11px 19px 11px 19px; display:inline-block; }
a.button:hover {background:#1e1e1e; color:#fff; }
a.button-2 {background:url(../images/button-3.jpg) 0 0 repeat-x #b21903; border-radius:5px; color:#fff; font-size:14px; line-height:18px; padding:11px 29px 11px 29px; display:inline-block; }
a.button-2:hover {background:#1e1e1e; color:#fff; }

a.link {text-decoration:none; cursor:pointer; color:#a83715; }
a.link:hover {text-decoration:underline;}

.color-1 { color:#1e1e1e;}
a.color-1:hover {text-decoration:underline;}
.color-2 { color:#1e1e1e; font-size:12px; line-height:20px;}
.color-3 { color:#a83715; font-size:30px; line-height:36px; letter-spacing:-1px;}

a img {border:0 none;}

h2 { font-size:24px;  color:#1e1e1e; font-weight:bold; letter-spacing:-2px;}
h3 { font-size:33px; line-height:65px; color:#1e1e1e; font-weight:normal; letter-spacing:-2px;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:5px 0 5px 11px; line-height:25px; background:url(../images/marker-1.gif) 0 16px no-repeat;}
ul.list-1 li a { font-size:14px; color:#a83715; line-height:25px;}
ul.list-1 li a:hover {color:#1e1e1e;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 22px 0px 0;}	
.img-indent-2 {float:left; margin:3px 30px 17px 0;}
.img-indent-3 {float:right; margin:3px 0px 17px 30px;}
.img-indent-4 {float:left; margin:3px 40px 0px 0;}
.last {margin-right:0px !important;}
.img-radius {border-radius:4px;}

.top-1 {margin-top:32px;}
.top-2 {margin-top:39px;}
.top-3 {margin-top:20px;}
.left-1 {padding-left:20px;}
.left-2 {margin-right:20px;}
.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}
.pad-1 {padding:0px 20px 0px 20px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:15px;}
.p3 {padding-bottom:14px;}

.h2 {padding-bottom:11px;}

/*********************************header*************************************/
header {width:100%; 
/*background:url(../images/header-bg.gif) 0 0 repeat; */
background: #FFFFFF;
margin:0 auto; z-index:101; position:relative; z-index:100;}

h1 {float:left; margin:16px 0 16px 0px;}

/*ul.menu {float:right; margin:33px 0 0 0;}
ul.menu li {float:left; line-height:20px; margin:0px 0 0px 25px;}
ul.menu li a {font-size:14px; font-weight:bold; line-height:20px; color:#fff; display:inline-block; text-shadow:0px 1px 0px #000000; }
ul.menu li a:hover, ul.menu li.current a {color:#0071bc;}*/
ul.menu li a:hover, ul.menu li.current a {color:#AD0005;}
nav {
	/*margin: -27px auto;*/
	position:relative;
	top: 0px; 
	text-align: center;
	width:1000px;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	
	
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
		line-height:0;
	}
		.current, nav ul li:hover {
			
		}
			.current, nav ul li:hover a {
				color:#666666;
			}
		
		nav ul li a {
			display: block; padding: 20px 30px;
			text-decoration: none;
			font-size:14px; font-weight:bold;
			line-height:20px; color:#666666;
		}
			
	
	nav ul ul {
		background: url("../images/header-bg.gif") repeat scroll 0 0 transparent;
		position: absolute; top: 100%;
		z-index:999999;
	}
		nav ul ul li {
			float: none; 
			 
			position: relative;
			z-index:9999;
		}
			nav ul ul li a {
				padding: 15px 40px;
				
			}	
				nav ul ul li a:hover {
					
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
	
#header-content {width:100%; background:#AD0005; min-height:15px; margin:0 auto; }
.sub-page-banner {width:940px; height:369px; margin:30px 0 30px 0;}
.page2-banner {background:url(../images/page2-banner.jpg) 0 0px no-repeat;}
.page3-banner {background:url(../images/page3-banner.jpg) 0 0px no-repeat;}
.page4-banner {background:url(../images/page4-banner.jpg) 0 0px no-repeat;}
.page5-banner {background:url(../images/page5-banner.jpg) 0 0px no-repeat;}

.sub-page-banner p {padding:47px 0 0 80px;}
.sub-page-banner strong { display:block; color:#fff; margin-top:-34px; }
.sub-page-banner strong:first-child {margin-top:0 !important;}
.sub-page-banner strong+strong+strong {margin-top:-23px !important;}
.sub-page-banner strong+strong+strong+strong {margin-top:-34px !important;}
.font-1 { font-size:50px; line-height:60px; letter-spacing:-3px;}
.font-2 {font-size:100px; line-height:120px; letter-spacing:-4px;}

/*********************************content*************************************/
#content { background:#fff; width:100%; padding-bottom:42px;}
.border {border-top:#f4f4f4 10px solid;}
.subpage-content {padding-top:29px;}

.block-1 {padding:27px 20px 39px 20px;}
.block-1 p {padding:8px 0 13px 0;}

.page1-col1 { width:620px; float:left; position:relative; border:0px solid #F00; margin-top:15px; }

.page1-col-tengah { width:550px; float:left; position:relative; border:0px solid #F00; margin-top:15px; }
.page1-col1 p
{
	line-height:25px;
	margin-bottom:10px;
	color:#333;
}
.page1-img1 {background:url(../images/page1-img1.jpg) 0 0 no-repeat; width:208px; height:514px; position:absolute; top:7px; right:-208px;}
.block-2 {border-top:#e8e8e8 1px solid; border-bottom:#e8e8e8 1px solid; margin:23px 0 22px 0; padding:30px 0 25px 0;}
.block-2 a {display:inline-block; background: url(../images/button-2.jpg) 0 0 repeat-x #b21803; font-size:36px; line-height:45px; color:#fff; padding:20px 35px 23px 35px; border-radius:5px; letter-spacing:-2px; float:left; margin-right:28px;}
.block-2 a:hover {background:#1e1e1e;}
.block-2 p {font-size:24px; line-height:30px; color:#1e1e1e; margin-top:-9px; display:inline-block;}
.block-2 p strong {display:block; margin-top:-6px; font-weight:normal; }

.block-3 {}
.border-1 {border-bottom:#e8e8e8 1px solid; padding-bottom:12px; margin-bottom:22px;}
.block-3 p.color-1 {padding-bottom:10px;}
.block-3 p+p {padding-bottom:13px;}
time {display:inline-block; border-right:#e8e8e8 1px solid; padding-right:15px; margin-right:14px;}

.block-4 p.color-3 { float:left; width:75px;}
.block-5 {padding-top:14px; width:180px; float:left;}
.block-5 img {margin-bottom:12px;}
.border-2 {border-right:#e8e8e8 1px solid; padding-right:30px; margin-right:29px;}
.block-6 .extra-wrap {width:450px;}
.block-6 .extra-wrap a.button-2 {margin-top:23px;}
.lists {padding-top:10px;}
.lists ul {float:left;}
.lists ul:first-child {width:280px;}

.block-7 {background:#f4f4f4; border-radius:4px; padding:20px 20px 18px 20px;}
.block-7 p.color-1 {padding-top:12px;}

/****************************footer************************/
footer {width:100%; float:left;  background:url(../images/header-bg.gif); margin:0 auto; position:relative; overflow:hidden;  padding:37px 0 40px 0;}

/**********************form**********************/
.map {width:260px; height:180px; margin:23px 0 0 0;}
.map iframe {width:260px; height:180px; border-radius:5px;}
dl {margin:22px 0px 0 0px; float:left;}
dl dt {}
dl dd span { display:block; width:79px; float:left;}
dl dd {}
dl dd a {color:#999999;}
dl dd a:hover {text-decoration:underline;}
#form { margin: 9px 0 0px 0px; width:580px; }
#form input {border-top:#cbcbcb 1px solid;border-left:#e0e0e0 1px solid;background:#f2f2f2;border-radius:4px;font: 14px Arial, Helvetica, sans-serif;color:#1e1e1e;padding:5px 10px 7px 10px;outline: medium none;width: 259px;height:17px;float:left;}
#form textarea {border-top:#cbcbcb 1px solid;border-left:#e0e0e0 1px solid;background:#f2f2f2; border-radius:4px;font: 14px Arial, Helvetica, sans-serif;color:#1e1e1e;height: 274px;outline: medium none;overflow: auto;padding: 5px 0px 0px 10px;width: 489px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;overflow:hidden;display: block;min-height:40px;}
#form label strong {font-weight:normal; color:#1e1e1e; float:left; display:inline-block; width:80px; padding-top:2px;}
.btns {text-align:right; width:580px; padding-top:20px;}
.btns a {display:inline-block; margin:0 0px 0 10px;}

.footer_content
{
	width:940px; margin:10px auto;
	
	
}

.fot_1
{
	width:280px;
	float:left;
	margin-right:20px;
	border:0px solid #F00;
	color:#DDDDDD;
	font-size:11px;
	line-height:18px;
}

.fot_2
{
	clear:both;
	margin-top:20px;
	margin-bottom:0px;
	font-size:11px;
	color:#999999;
	float:left;
	
}

.fot_1 p
{
	margin-bottom:10px;
}

.fot_1 a img
{
	opacity:0.3;
	margin-right:5px;
	border:0 none;
}
.fot_1 a img:hover
{
	opacity:1;
	margin-right:5px;
	border:0 none;
}




.fot_1 a
{
	text-decoration:none;
	color:#0071bc;
}

.fot_1 a:hover
{
	text-decoration:underline;
	color:#0071bc;
}

.fot_1 h1
{
	font-size:18px;
	color:#FFF;
	text-shadow:0px 1px 0px #000000;
	margin:0;
	margin-bottom:10px;
	width:280px;
}

.fot_1 h2
{
	font-size:14px;
	color:#FFF;
	text-shadow:0px 1px 0px #000000;
	margin-top:10px;
	margin-bottom:10px;
	width:280px;
}



.form_login
{
	float: left;
	clear: both;
	width:300px;
	margin-top:10px;
	
	border:0px solid #CC0000;
	padding-bottom:0px;
}

.form_login a
{
	color: #7bbeda;
	text-decoration:none;
}

.form_login a:hover
{
	color: #2667a3;
	text-decoration:none;
}


.input_text_email
{
	border:1px solid #c9c9c9;
	background:#FFF;
	padding:10px 10px;
	font-size:14px;
	width:250px;
	color:#666;
	margin-bottom:0px;
	font-family:"Helvetica Neue", Arial, Helvetica, Sans-Serif;

	-moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;

}

.input_text_username:hover
{
	cursor:text;
	
}

.input_text_email:focus
{
	border:1px solid #999;
	cursor:text;
	outline: none;
}

.input_text_password
{
	border:1px solid #c9c9c9;
	background:#fff;
	padding:10px 10px;
	font-size:14px;
	width:250px;
	color:#666;
	margin-bottom:5px;
	font-family:"Helvetica Neue", Arial, Helvetica, Sans-Serif;

	-moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     border-radius: 3px;


}

.input_text_password:hover
{
	cursor:text;
	
}

.input_text_password:focus
{
	border:1px solid #999;
	cursor:text;
	outline: none;
}

.button_login
{	
	
	background:#02508c;
	font-family:"Helvetica Neue", Arial, Helvetica, Sans-Serif;
	border:0 none;
	text-align:center;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	 -moz-box-shadow: 0px 1px 0px #111;
	-webkit-box-shadow: 0px 1px 0px #111;
	box-shadow: 0px 1px 0px #111;

	font-size:14px;
	font-weight:bold;
	color:#FFF;

	width: 270px;
	float: left;

	text-shadow:0px 1px 0px #000;
	padding:10px 10px;
}

.button_login:hover
{
	cursor: pointer;	
}

.button_login:active
{	
	cursor:pointer;
	outline:none;
	-moz-outline-style:none;
	margin-top: 2px;
	
	 -moz-box-shadow: 0px -1px 0px #111;
	-webkit-box-shadow: 0px -1px 0px #111;
	box-shadow: 0px -1px 0px #111;
}

#t_san
{
	border:1px solid #ddd;
	border-bottom:0 none;
	margin-top:10px;
}

#t_san th
{
	background:#DDD;
	color:#666;
	font-size:14px;
	font-weight:bold;
}

#t_san th, #t_san td
{
	padding: 8px;
	line-height: 20px;
	text-align: left;
}

#t_san td
{	
	color:#000;
	font-size:14px;
	border-bottom:1px solid #DDD;
}

#t_form 
{
	width:256px;
	border:0px solid #F00;
	margin-top:20px;
	font-size:14px;
	
	font-weight:bold;
	color:#333;
}



#t_form  select
{
	width:256px;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	padding:5px;
	border:1px solid #CCCCCC;
	font-weight:lighter;
	color:#333;
	margin-bottom:10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.button_proses
{	
	
	background:#64c96e;
	font-family:"Helvetica Neue", Arial, Helvetica, Sans-Serif;
	border:0 none;
	text-align:center;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	 -moz-box-shadow: 0px 1px 0px #111;
	-webkit-box-shadow: 0px 1px 0px #111;
	box-shadow: 0px 1px 0px #111;
width:256px;
	font-size:14px;
	font-weight:bold;
	color:#111111;

	float: left;

	text-shadow:0px 1px 0px #aaedb0;
	padding:8px 10px;
}

.button_proses:hover
{
	cursor: pointer;	
}

.button_proses:active
{	
	cursor:pointer;
	outline:none;
	-moz-outline-style:none;
	margin-top: 2px;
	
	 -moz-box-shadow: 0px -1px 0px #111;
	-webkit-box-shadow: 0px -1px 0px #111;
	box-shadow: 0px -1px 0px #111;
}

.menu_box
{
	float:left;
	
	border:1px solid #DDD;
	padding:5px;
	background:#e8e8e8;
	
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	margin-left: 15px;
}

.menu_box ul, .menu_box li
{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	
}

.menu_box li a
{
	float:left;
	clear:both;
	width:235px;
	background:#8b0108 url(../images/bg_menu_box.jpg) repeat-x;
	border:1px solid #8b0108;
	text-decoration:none;
	
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	margin:3px 0px;
	padding:7px 10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow:0px 1px 0px #000;
}
.menu_box li a img
{
	float:left;
	margin-right:10px;
}

.menu_box li a:hover
{
	background:#8b0108;
}

.judul_page
{
	width:620px;
	float:left;
	border:0px solid #F00;
	font-size:28px;
	font-weight:bold;
	color:#111;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
	margin-bottom:20px;
}

.page1-col1 h1
{
	font-size:28px;
	color:#333;
	float:left;
	width:620px;
	margin-bottom:5px;
	line-height:35px;
}

.page1-col1 h4
{
	font-size:11px;
	color:#999;
	font-weight:normal;
	float:left;
	width:620px;
	margin-bottom:20px;
}

.sidebarkiri{
	width: 210px;
	float: left;
	border: 0px solid #F00;
	margin-right: 10px;
}

.maincontent{
	width: 550px;
	float: left;
	border: 0px solid #F00;
}

.sidebarkanan{
	width: 210px;
	float: right;
	border: 0px solid #F00;
	padding-top: 20px;
}
.clear{
	clear: both;
}

.boxkanan{
	width: 100%;
	float: left;
	margin: 10px 0;
}

.listbox ul, .listbox li {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
.listbox li a {
	font-size: 12px;
	color: #666666;
	padding: 8px 0;
	border-bottom: 1px solid #CCCCCC;
	float: left;
	width: 100%;
	clear: both;
}
.listbox li a:hover{
	color:#286897;
	border-bottom: 1px solid #286897;
}
a.indexlink{
	float: right;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 0;
	color: #8b0108;	
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 15px;
	
}





#t_form_home 
{
	width:100%;
	border:0px solid #F00;
	margin-top:20px;
	font-size:14px;
	
	font-weight:bold;
	color:#333;
}



#t_form_home  select
{
	width:90%;
	font-family: Helvetica, sans-serif;
	font-size:14px;
	padding:5px;
	border:1px solid #CCCCCC;
	font-weight:lighter;
	color:#333;
	margin-bottom:10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


.menu_box_home
{
	float:left;
	
	border:1px solid #DDD;
	padding:5px;
	background:#e8e8e8;
	
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.menu_box_home ul, .menu_box_home li
{
	margin:0;
	padding:0;
	list-style:none;
	display:block;
	
}

.menu_box_home li a
{
	float:left;
	clear:both;
	width:176px;
	background:#8b0108 url(../images/bg_menu_box.jpg) repeat-x;
	border:1px solid #8b0108;
	text-decoration:none;
	
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	margin:3px 0px;
	padding:7px 10px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow:0px 1px 0px #000;
}
.menu_box_home li a img
{
	float:left;
	margin-right:10px;
}

.menu_box_home li a:hover
{
	background:#8b0108;
}
.page1-col1 table
{
  
}

.page1-col1 table
{
	width:100%;
	border:1px solid #ddd;
	border-bottom:0 none;
	margin-top:10px;
}

.page1-col1 table th
{
	background:#DDD;
	color:#666;
	font-size:14px;
	font-weight:bold;
}

.page1-col1 table th, .page1-col1 table td
{
	/*padding: 8px;*/
	line-height: 20px;
	text-align: left;
}

.page1-col1 table td
{	
	color:#000;
	font-size:14px;
	border-bottom:1px solid #DDD;
}

.page1-col1 ul, .page1-col1 ol
{
    margin: 0 0 10px 25px;
    padding: 0;
    list-style-type: square;
}

.page1-col1 ul
{
    list-style-type: square;
}
.page1-col1 .judul_page ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}