.table {
        max-width: none;
        table-layout: auto;
        word-wrap: break-word;
    }
.container{
        max-width: none;
}
@media (min-width: 992px){
        .modal-lg{
            width : 900px;
            height: 900px; /* control height here */
        }
}
 
.jqplot-target {
    color: #666 !important;
    font-family: inherit !important;
    font-size: inherit !important;
}