@charset "utf-8";
body {
	background: #B8C5CC url(../images/pw_maze_white.png);
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:11px/165% 'Lucida Grande', Verdana, Helvetica, sans-serif;
	
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	/*background:#025F99;*/
	
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:0;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:29px 24px;
	float:left;
	color:#e4e5e5;
	font:bold 36px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#e4e5e5;
	text-decoration:none;
}
h1 span {
	color:#DB99FA;
}
h1 small {
	font:normal 12px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	padding-left:8px;
	color:#e0e1e1;
}
h2 {
	font:normal 24px/1.5em Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#595959;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
a {
	color:#62469D;
	text-decoration:none;
}

a:hover {
	color:#512E9B;
	text-decoration:none;
}

p.spec {
}
p.infopost {
	line-height:30px;
}
a.rm {
}
a.com {
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
	background:url(../images/bg.png) repeat-x center top;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:1000px;
}
img.hbg_img {
	margin:0 0 8px;
	padding:11px;
	background-color:#fff;
	border-bottom:2px solid #e7e7e7;
}
.menu_nav {
	margin:0 auto;
	padding:0;
	width:1000px;
	height:48px;
	background:url(../images/menu.gif) repeat-x center top;
}
.menu_nav ul {
	list-style:none;
	height:48px;
	float:left;
}
.menu_nav ul ul{
	visibility:hidden;
	list-style:none;
		display:block;
	margin:0;
	padding:13px 24px;
	color:#888;
	text-decoration:none;
	font-size:13px;
}
.menu_nav ul li:hover ul,
.menu_nav ul a:hover ul{
	visibility:visible;
}
.menu_nav ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:13px 24px;
	color:#888;
	text-decoration:none;
	font-size:13px;
}

.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	background-color:#025F99;
}
.content {
}
.content_resize {
	margin:0 auto;
	padding:0 0 24px;
	width:1000px;
	background-color:#fff;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px solid #E7E7E7;
}
.mainbar {
	margin:0;
	padding:0;
	float:left;
	width:617px;
}
.content .mainbar1 {
	margin:0;
	padding:0;
	float:left;
	width:784px;
}
.content .mainbar img {
	border:1px solid #d8dbdc;
	padding:4px;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0 0 12px;
	padding:0px 24px 0 24px;
}
div.article ul,
div.article ol {
	/*margin: 0 0 10px 20px;*/
}
.content .sidebar {
	padding:0;
	float:right;
	width:200px;
}
.sidebar1 {
	padding-left:10px;
	float:left;
	width:170px;
}
.content .sidebar .gadget .sidebar1 {
	margin:0 0 12px;
	padding:8px 16px 8px 24px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0 8px 0 0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
	background: url("http://bos.kemdikbud.go.id/media/home/images/dots.gif") repeat-x scroll left bottom transparent;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#959595;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
	/*background:url(../images/li.gif) no-repeat left center;*/
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#3B749C;
	/*font-weight:bold;*/
	text-decoration:none;
}
.content p.pages {
	padding:32px 24px 12px;
	font-size:11px;
	color:#959595;
	text-align:right;
}
.content p.pages span, .content p.pages a:hover {
	padding:5px 10px;
	color:#fff;
	background-color:#3B749C;
	border:1px solid #3B749C;
}
.content p.pages a {
	padding:5px 10px;
	color:#959595;
	background-color:#fff;
	border:1px solid #edebeb;
	text-decoration:none;
}
.content p.pages small {
	font-size:11px;
	float:left;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 10px 10px 10px;
	padding:0;
	float:left;
}
.fbg {
	padding-top:12px;
}
.fbg_resize {
	margin:0 auto;
	width:1000px;
	/*padding:12px 24px;*/
	border:2px solid #e7e7e7;
	background-color:#fff;
}
.fbg .c2 a, .fbg .c3 a {
	margin:0;
	padding:2px 4px;
	text-decoration:none;
}
.fbg h2 {
}
.fbg img {
	margin:0 16px 16px 16px;
	padding:3px;
	/*background-color:#fff;*/
	border:1px solid #99bece;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:266px;
}
.fbg .c2 {
	padding:0 16px;
	width:300px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:260px;
}
.footer {
}
.footer_resize {
	margin:0 auto;
	padding:12px 24px;
	width:922px;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
}
.footer a {
	color:#959595;
	padding:inherit;
	text-decoration:none;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	float:right;
	padding:6px;
}
#formsearch {
	margin:0;
	height:36px;
	padding:0;
	width:232px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:#fff url(../images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
	margin:0;
	padding:11px 6px 10px;
	float:left;
	width:181px;
	border:none;
	background:none;
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color:#a8acb2;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
form {
    /*
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #F0F0F0;
    margin: 0;
    padding: 15px 25px 25px 20px;
    */
}
.button_submit{
	background: none repeat scroll 0 0 #62469D;
    border: 1px solid #163362;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 0 #FFFFFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    padding: 10px 22px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25); cursor: pointer;
}
select{
	width:150px;
}
input{
	width:150px;
}

/*-------------------------- Narrow black Orange-------------*/
.MBT-readmore10 {
    background: none repeat scroll 0 0 #4B87A5;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 0;
    padding: 5px;
    text-align: right;
	float:left;
}
.MBT-readmore10:hover {
    background: none repeat scroll 0 0 #0;
}
.MBT-readmore10 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore10 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore9 {
    background: none repeat scroll 0 0 #000800;
    border: 2px solid #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore9:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #000800;
    color: #000800;
    font: bold 11px sans-serif;
}
.MBT-readmore9 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore9 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore8 {
    border: 2px solid #DDDDDD;
    color: #008000;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore8:hover {
    background: none repeat scroll 0 0 #008000;
    border: 2px solid #DDDDDD;
    color: #FFFFFF;
    font: bold 11px sans-serif;
}
.MBT-readmore8 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore8 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore7 {
    border: 2px solid #FE8080;
    color: #FE8080;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore7:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FF0000;
    color: #FF0000;
    font: bold 12px sans-serif;
}
.MBT-readmore7 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore7 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore6 {
    background: none repeat scroll 0 0 #0080FF;
    border: 2px solid #DDDDDD;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore6:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px dotted #DDDDDD;
    color: #0080FF;
    font: bold 11px sans-serif;
}
.MBT-readmore6 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore6 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore5 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
    border-top: 2px solid #DDDDDD;
    color: #B26B00;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore5:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #B26B00;
    border-top: 2px solid #B26B00;
    color: #B26B00;
    font: bold 11px sans-serif;
}
.MBT-readmore5 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore5 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore4 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 2px solid #FE80DF;
    border-right: 2px solid #FE80DF;
    color: #FE80DF;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore4:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 2px solid #CC0099;
    border-right: 2px solid #CC0099;
    color: #CC0099;
    font: bold 11px sans-serif;
}
.MBT-readmore4 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore4 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #009999;
    border-left: 10px solid #009999;
    border-right: 2px solid #009999;
    border-style: solid;
    border-width: 2px 2px 2px 10px;
    color: #009999;
    cursor: pointer;
    float: right;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 5px;
    text-align: right;
}
.MBT-readmore3:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #009999 #009999 #009999 #006B6B;
    border-left: 10px solid #006B6B;
    border-right: 2px dotted #009999;
    border-style: dotted dotted dotted solid;
    border-width: 2px 2px 2px 10px;
    color: #006B6B;
    font: bold 11px sans-serif;
}
.MBT-readmore3 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore3 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #6882C7;
    border-left: 400px solid #6882C7;
    border-right: 2px solid #6882C7;
    border-style: solid;
    border-width: 2px 2px 2px 400px;
    color: #6882C7;
    cursor: pointer;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 1px 5px 1px 1px;
    text-align: right;
}
.MBT-readmore2:hover {
    border-color: #6882C7;
    border-left: 50px solid #6882C7;
    border-right: 2px solid #6882C7;
    border-style: solid;
    border-width: 2px 2px 2px 50px;
    color: #000800;
}
.MBT-readmore2 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore2 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore1 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #474747;
    border-left: 400px dashed #474747;
    border-right: 2px solid #474747;
    border-style: solid solid solid dashed;
    border-width: 2px 2px 2px 400px;
    color: #EB7F17;
    cursor: pointer;
    font: bold 11px sans-serif;
    margin: 5px 0;
    padding: 2px;
    text-align: right;
}
.MBT-readmore1:hover {
    background: none repeat scroll 0 0 #EB7F17;
    border-color: #EB7F17 #EB7F17 #EB7F17 #474747;
    border-left: 400px dashed #474747;
    border-right: 2px solid #EB7F17;
    border-style: solid solid solid dashed;
    border-width: 2px 2px 2px 400px;
    color: #FFFFFF;
}
.MBT-readmore1 a {
    color: #FFFFFF;
    text-decoration: none;
}
.MBT-readmore1 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.gadget{
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.uniForm .buttonHolder .primaryAction{
	background:#62469D;
}
a{
	text-decoration:none;
}
img{
	border:none !important;
}
h2 img{
	width:60px;
	
}

